.gradient-custom {
    /* fallback for old browsers */
    background: #c6c0cd;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(10, 4, 16), rgb(195, 202, 215));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(  rgb(79, 79, 79),rgb(214, 210, 218), rgb(146, 146, 146),rgb(70, 70, 70))
    }